@model ContactManagementSystem.Entities.Models.Contact

<div class="text-center">
    <h1 class="display-4">Edit Contact</h1>
    <p class="lead">Update the contact information below.</p>
</div>

<form id="contactForm" asp-action="Edit" method="post" class="mt-4 w-50 mx-auto">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label asp-for="Name" class="font-weight-bold">Name</label>
        <input asp-for="Name" id="Name" class="form-control form-control-sm" placeholder="Enter the name" />
        <span id="nameError" asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="font-weight-bold">Number</label>
        <input asp-for="PhoneNumber" id="PhoneNumber" class="form-control form-control-sm" placeholder="Enter the number" />
        <span id="phoneError" asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="font-weight-bold">Address</label>
        <input asp-for="Address" id="Address" class="form-control form-control-sm" placeholder="Enter the address" />
        <span id="addressError" asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="font-weight-bold">City</label>
        <input asp-for="City" id="City" class="form-control form-control-sm" placeholder="Enter the city" />
        <span id="cityError" asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Zip" class="font-weight-bold">Zip</label>
        <input asp-for="Zip" id="Zip" class="form-control form-control-sm" placeholder="Enter the zip" />
        <span id="zipError" asp-validation-for="Zip" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="font-weight-bold">Country</label>
        <input asp-for="Country" id="Zip" class="form-control form-control-sm" placeholder="Enter the country" />
        <span id="countryError" asp-validation-for="Country" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Notes" class="font-weight-bold">Notes</label>
        <input asp-for="Notes" id="Notes" class="form-control form-control-sm" placeholder="Enter the Notes" />
    </div>

    <button type="submit" class="btn btn-primary btn-sm btn-block mt-3 mb-3">Update Contact</button>
    <button type="button" class="btn btn-outline-secondary bprder btn-sm btn-block mt-3 mb-3" onclick="location.href='@Url.Action("Index")'">Cancel</button>

</form>


